<h3>Admin - Gêneros</h3>

<%= link_to 'Nova', new_admin_genero_path %>
</br></br>
<table width="80%">
  <% for genero in @generos %>
	<tr>
    <td> <%= genero.nome    %></td> 
    <td><%= link_to 'Ver', [:admin, genero] %></td>
    <td><%= link_to 'Editar', edit_admin_genero_path(genero) %></td>
    <td><%= link_to 'X', [:admin,genero], confirm: 'Excluir?', method: :delete %></td>
	</tr>
  <% end %>
</table>
<%= will_paginate @generos %>