<h3>Admin - produto_tipos</h3>

<%= link_to 'Nova produto_tipo', new_admin_produto_tipo_path %>
</br></br>
<table>
  <% for produto_tipo in @produto_tipos %>
	<tr>
	<td> <%= produto_tipo.id %></td> 
    <td> <%= produto_tipo.nome    %></td> 
    <td><%= link_to 'Editar', edit_admin_produto_tipo_path(produto_tipo) %></td>
    <td><%= link_to 'X', [:admin,produto_tipo], confirm: 'Confirma a exclusão?', method: :delete %></td>
	</tr>
  <% end %>
</table>
