<h3>Admin - Ciclos de Folhas</h3>

<table>
  <tr>
    <th>Ciclo</th>
    <th>Descricao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @folha_ciclos.each do |folha_ciclo| %>
  <tr>
    <td><%= folha_ciclo.ciclo %></td>
    <td><%= folha_ciclo.descricao %></td>
    <td><%= link_to 'Edit', edit_admin_folha_ciclo_path(folha_ciclo) %></td>
    <td><%= link_to 'Destroy', [:admin,folha_ciclo], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Folha ciclo', new_admin_folha_ciclo_path %>
