<p id="notice"><%= notice %></p>

<p>
  <b>Ciclo:</b>
  <%= @folha_ciclo.nome %>
</p>

<p>
  <b>Descricao:</b>
  <%= @folha_ciclo.descricao %>
</p>


<%= link_to 'Edit', edit_folha_ciclo_path(@folha_ciclo) %> |
<%= link_to 'Back', folha_ciclos_path %>
