<%= form_for([:admin, @extincao]) do |f| %>
<%= render 'shared/error_messages', :object => f.object %>

  <div>
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>