<h3>Admin - Condições</h3>

<%= link_to 'Nova Condição', new_admin_condicao_path %>

<table width="80%">
  <% for condicao in @condicoes %>
	<tr>
    <td> <%= condicao.condicao_tipo.nome %></td> 	
    <td> <%= condicao.nome    %></td> 
    <td><%= link_to 'Editar', edit_admin_condicao_path(condicao) %></td>
    <td><%= link_to 'X', [:admin,condicao], confirm: 'Confirma a exclusão?', method: :delete %></td>
	</tr>
  <% end %>
</table>

