

<table width="99%" border="0" valign="top" background="0"  align="center"  cellspacing="0" cellpadding="0" class="texto_geral">


	<tr>
	    <td colspan="2">
			<a href="?pg=lista_especies">
				<h2><span>Lista de espécies</span></h2>
			</a>
			Mais de 600 espécies de Árvores do Brasil, com ficha técnica.

	    </td>
	</tr>

	<tr> <td  width="50%" bgcolor="#E6E6E6" colspan="2"> <center> :: Destaque :: </center> </td> </tr>


	<tr>
	    <td  width="50%" valign=top>
			<table class="texto_geral">
				<tr>
					<td>
						<a href="?pg=arvore_definicao" class="texto_geral">
							<%= image_tag("jequitiba_branco_peq.jpg", :align => "left",  :border=>"0") %>
							<b>Árvore</b><br>
						</a>
						Definição, partes da árvore, e informações.
					</td>
				</tr>
			</table>
	    </td>
	    <td  width="50%" valign=top>
			<table class="texto_geral">
				<tr>
					<td>
						<a href="?pg=bioma_brasil" class="texto_geral">
							<%= image_tag("bioma_brasil_min.jpg", :align => "left",  :border=>"0") %>
							<b>Biomas</b><br>
						</a>
						Conheça as riquezas e a diversidade dos biomas brasileiros.
					</td>
				</tr>
			</table>
	    </td>
	</tr>

	<tr>

	    <td  width="50%" valign=top>
			<table class="texto_geral">
				<tr>
					<td>
						<a href="?pg=reflorestamento_mata_ciliar" class="texto_geral">
							<%= image_tag("mata_ciliar_min.jpg", :align => "left",  :border=>"0") %>
							<b>Mata Ciliar</b><br>
						</a>
						Técnicas e Indicadores de Recuperação
					</td>
				</tr>
			</table>
	    </td>
	    <td  width="50%" valign=top>
			<table class="texto_geral">
				<tr>
					<td>
						<a href="?pg=direito_ambiental_leis_ambientais" class="texto_geral">
							<%= image_tag("lei_balanca.gif", :align => "left",  :border=>"0") %>
							<b>Leis Ambientais</b><br>
						</a>
						A nenhum indivíduo fica concedido o direito de infringir a Lei por desconhecimento desta
					</td>
				</tr>
			</table>
	    </td>
	</tr>

	<tr><td colspan="2"><br></td></tr>
	<tr> <td  width="50%" bgcolor="#E6E6E6" colspan="2"> <center>                    :: Informação ::          </center> </td> </tr>
	<tr><td colspan="2"><br></td></tr>
	<tr>
		<td  width="50%" valign=top>
			<a target="_blank" href="http://ww2.prefeitura.sp.gov.br//arquivos/secretarias/meio_ambiente/manual_arborizacao.pdf" class="texto_geral">
				<%= image_tag("manual_arborizacao.jpg", :align => "left",  :border=>"0") %>
				<b>Manual de Arborização</b><br>
			</a>
			Manual da Secretaria do Meio Ambiente de SP
		</td>

		<td  width="50%" valign=top>
			<a target="_blank" href="http://ww2.prefeitura.sp.gov.br/arquivos/secretarias/meio_ambiente/eixo_biodiversidade/arbonizacao_urbana/0002/Manual_poda_final.pdf" class="texto_geral">
				<%= image_tag("manual_poda.jpg", :align => "left",  :border=>"0") %>
				<b>Manual de Poda</b><br>
			</a>
			Manual da Secretaria do Meio Ambiente de SP
		</td>
	</tr>

	<tr>
	    <td colspan="2">
	    	<br>
	    </td>
	</tr>
	<tr>
		<td  width="50%" valign=top>
			<a target="_blank" href="http://www.ambientebrasil.com.br" class="texto_geral">
				<%= image_tag("logo_ambientebrasil.jpg", :align => "left",  :border=>"0") %>
				<b>AmbienteBrasil</b><br>
			</a>
			Portal com informações e noticias ambientais.
		</td>

	    <td  width="50%" valign=top>
			<a target="_blank" href="http://www.ibama.gov.br/lpf/madeira/introducao.htm" class="texto_geral">
				<%= image_tag("logo_madeiras_brasileiras.jpg", :align => "left",  :border=>"0") %>
				<b>Banco de dados de madeiras brasileiras</b><br>
			</a>O Ibama montou esta incrível base de dados sobre Madeiras Brasileiras.Vale apena conferir!
	    </td>
	</tr>

	<tr>
	    <td colspan="2">
	    	<br>
	    </td>
	</tr>
	<tr>
		<td  width="50%" valign=top>
			<a target="_blank" href="http://www.ibama.gov.br/prevfogo" class="texto_geral">
				<%= image_tag("logo_ibama_prevfogo.jpg", :align => "left",  :border=>"0") %>
				<b>Combate aos Incêndios Florestais </b><br>
			</a>Sistema Nacional de Prevenção e Combate aos Incêndios Florestais.
		</td>

		<td  width="50%" valign=top>
			<a target="_blank" href="http://www.ibama.gov.br/" class="texto_geral">
				<%= image_tag("logo_ibama.jpg", :align => "left",  :border=>"0") %>
				<b>Ibama</b><br>
			</a>Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renováveis
		</td>


	</tr>

	<tr>
	    <td colspan="2">
	    	<br>
	    </td>
	</tr>
	<tr>
	    <td  width="50%" valign=top>
			<a target="_blank" href="http://www.sementesriosaopaulo.sp.gov.br" class="texto_geral">
				<%= image_tag("logo_sementes_rjsp.jpg", :align => "left",  :border=>"0") %>
				<b>Sementes Rio-São Paulo</b><br><br>
			</a>Sementes florestais nativas.
	    </td>
	    <td  width="50%" valign=top>
			<a target="_blank" href="http://www.sementesdocerrado.com.br" class="texto_geral">
				<%= image_tag("logo_sementes_cerrado.jpg", :align => "left",  :border=>"0") %>
				<b>Sementes do Cerrado</b><br>
			</a>Sementes e mudas de plantas nativas do Cerrado.
	    </td>
	 </tr>
	<tr>
	    <td colspan="2">
	    	<br>
	    </td>
	</tr>
	<tr>
	    <td  width="50%" valign=top>

	    </td>
	    <td  width="50%" valign=top>
			<a target="_blank" href="http://www.cati.sp.gov.br" class="texto_geral">
				<%= image_tag("logo_cati.jpg", :align => "left",  :border=>"0") %>
				<b>CATI</b><br>
			</a>Coordenadoria de Assistência Técnica Integral.
	    </td>
	 </tr>

	<tr><td colspan="2"><br></td></tr>
	<tr> <td  width="50%" bgcolor="#E6E6E6" colspan="2"> <center>                    :: Projetos ::         </center> </td> </tr>
	<tr><td colspan="2"><br></td></tr>

	<tr>
	    <td colspan="2">
	    	<br>
	    </td>
	</tr>

	<tr>
	    <td  width="50%" valign=top>
			<a target="_blank" href="http://www.florestasdofuturo.org.br" class="texto_geral">
				<%= image_tag("ff.jpg", :align => "left",  :border=>"0") %>
				<b>Florestas Do Futuro</b><br>
			</a>ArvoresBrasil, parceiro no desenvolvimento do site. Conheça o projeto e tenha a sua floresta!
	    </td>

		<td  width="50%" valign=top>
			<a target="_blank" href="http://www.acaatinga.org.br" class="texto_geral">
				<%= image_tag("logo_acaatinga.jpg", :align => "left",  :border=>"0") %>
				<b>Associação Caatinga</b><br>
			</a>Conheça os projetos, veja as fotos e aprenda mais sobre este bioma.
		</td>
	</tr>


	<tr>
	    <td colspan="2">
	    	<br>
	    </td>
	</tr>

	<tr>

		<td  width="50%" valign=top>
			<a target="_blank" href="http://www.inpa.gov.br" class="texto_geral">
				<%= image_tag("inpa_logo.jpg", :align => "left",  :border=>"0") %>
				<b>INPA</b><br>
			</a>Instituto Nacional de Pesquisa da Amazônia
		</td>
		<td  width="50%" valign=top>
			<a target="_blank" href="http://www.institutohorus.org.br" class="texto_geral">
				<%= image_tag("instituto_horus_logo.gif", :align => "left",  :border=>"0") %>
				<b>Espécies exóticas invasoras</b><br>
			</a>
			Base de dados sobre espécies
			exóticas invasoras para o Brasil.
		</td>
	</tr>


	<tr><td colspan="2"><br></td></tr>
	<tr> <td  width="50%" bgcolor="#E6E6E6" colspan="2"> <center>                    :: Órgãos ::          </center> </td> </tr>
	<tr><td colspan="2"><br></td></tr>
	<tr>
	    <td  width="50%" valign=top>
			<a target="_blank" href="http://www.mma.gov.br/" class="texto_geral">
				<%= image_tag("logo_mma.jpg", :align => "left",  :border=>"0") %>
				<b>Ministério do Meio Ambiente</b><br> 
			</a>Ministério do Meio Ambiente, dos Rec. Hídricos e da Amazônia Legal
	    </td>
	    <td  width="50%" valign=top>
			<a target="_blank" href="http://www.cnpf.embrapa.br" class="texto_geral">
				<%= image_tag("logo_embrapa_florestas.jpg", :align => "left",  :border=>"0") %>
				<b>Embrapa Florestas</b><br>
			</a>Tecnologias à disposição do setor florestal brasileiro
	    </td>
	 </tr>
	<tr>
	    <td colspan="2">
	    	<br>
	    </td>
	</tr>

	<tr>
	    <td  width="50%" valign=top>
			<a target="_blank" href="http://www.fflorestal.sp.gov.br" class="texto_geral">
				<%= image_tag("fflorestal.jpg", :align => "left",  :border=>"0") %>
				<b>Fundação Florestal</b><br>
			</a>Para a conservação e a produção florestal do estado de São Paulo
	    </td>
	    <td  width="50%" valign=top>
			<a target="_blank" href="http://www.iflorestal.sp.gov.br/" class="texto_geral">
				<%= image_tag("iflorestal.jpg", :align => "left",  :border=>"0") %>
				<b>Instituto Florestal</b><br>
			</a>
			Pesquisa sobre espécies florestais e
			técnicas silviculturais para o Estado de São Paulo
	    </td>
	 </tr>
	<tr>
	    <td colspan="2">
	    	<br>
	    </td>
	</tr>
	<tr>
	    <td  width="50%" valign=top>
			<a target="_blank" href="http://www.funbio.org.br" class="texto_geral">
				<%= image_tag("funbio_logo.gif", :align => "left",  :border=>"0") %>
				<b>Fundo para a Biodiversidade </b><br>
			</a>
			Opera um fundo para apoio à
			iniciativas associadas à conservação e ao uso sustentável da biodiversidade no Brasil.
	    </td>
	    <td  width="50%" valign=top>
			<a target="_blank" href="http://www.imaflora.org" class="texto_geral">
				<%= image_tag("imaflora_logo.jpg", :align => "left",  :border=>"0") %>
				<b>Imaflora</b><br>
			</a>
			Incentiva o manejo florestal
			e agrícola ambientalmente adequado, socialmente justo e economicamente viável
	    </td>
	 </tr>


</table>


