<h3>Admin - Tempos de Germinação</h3>

<%= link_to 'Nova Tempo', new_admin_germinacao_tempo_path %>
</br></br>
<table width="80%">
  <% for germinacao_tempo in @germinacao_tempos %>
	<tr>
    <td> <%= germinacao_tempo.nome    %></td> 
    <td><%= link_to 'Ver', [:admin, germinacao_tempo] %></td>
    <td><%= link_to 'Editar', edit_admin_germinacao_tempo_path(germinacao_tempo) %></td>
    <td><%= link_to 'X', [:admin,germinacao_tempo], confirm: 'Excluir?', method: :delete %></td>
	</tr>
  <% end %>
</table>
