<h3>Admin - Utilidades</h3>

<%= link_to 'Nova utilidade', new_admin_utilidade_path %>
</br></br>
<table width="80%">
  <% for utilidade in @utilidades %>
	<tr>
    <td> <%= utilidade.utilidade_tipo.nome %></td> 
		<td> <%= utilidade.nome    %></td> 
    <td><%= link_to 'Editar', edit_admin_utilidade_path(utilidade) %></td>
    <td><%= link_to 'X', [:admin,utilidade], confirm: 'Confirma a exclusão?', method: :delete %></td>
	</tr>
  <% end %>
</table>
