<%= form_for([:admin, @caracteristica]) do |f| %>
<%= render 'shared/error_messages', :object => f.object %>

	<div>
  	Caracteristica Tipo <br>
	  <%= f.collection_select(:caracteristica_tipo_id, CaracteristicaTipo.order('nome'),
	       :id, :nome, {:prompt => true}, :class=>"form_campos") %>
	</div>

  <div>
    <%= f.label :nome %>
    <%= f.text_field :nome, :class => "text" %>
  </div>

  <div>
    <%= submit_tag "Criar", :class => "send"  %>

  </div>
<% end %>