<h3>Admin - caracteristicas</h3>

<%= link_to 'Nova caracteristica', new_admin_caracteristica_path %>
</br></br>
<table>
  <% for caracteristica in @caracteristicas %>
	<tr>
		<td> <%= caracteristica.id %></td> 
    <td> <%= caracteristica.caracteristica_tipo.nome %></td> 
		<td> <%= caracteristica.nome    %></td> 
    <td><%= link_to 'Editar', edit_admin_caracteristica_path(caracteristica) %></td>
    <td><%= link_to 'X', [:admin,caracteristica], confirm: 'Confirma a exclusão?', method: :delete %></td>
	</tr>
  <% end %>
</table>
