<div class="gadget">
  <h2 class="star"><span>Admin</span> </h2>
  <ul class="sb_menu">
	  <li>*PROBLEMA* com inflaction (?)</li>
	  <li><%= link_to "Arvores", admin_arvores_path %></li>
	  <li><%= link_to "Familias", admin_familias_path %></li>
	  <li><%= link_to "Nomes Populares", admin_populares_path %></li>
	  <li></li>
	  <li><%= link_to "Paises", admin_paises_path %></li>
	  <li><%= link_to "Generos", admin_generos_path %></li>
	  <li><%= link_to "Crescimentos", admin_crescimentos_path %></li>
	  <li><%= link_to "Germinacao Taxas", admin_germinacao_taxas_path %></li>
	  <li><%= link_to "Germinacao Tempos", admin_germinacao_tempos_path %></li>
	  <li><%= link_to "Extinções", admin_extincoes_path %></li>
  </ul>
</div>




