<div class="gadget">
  <h2 class="star"><span>Admin</span> </h2>
  <ul class="sb_menu">
	<li><%= link_to "Arvores", admin_arvores_path %></li>
	
	<li><%= link_to "Nomes Populares", admin_nomes_populares_path %></li>
	<li><%= link_to "Familias", admin_familias_path %> <br>
			<%= link_to "Generos", admin_generos_path %></li>
	<li><%= link_to "Paises", admin_paises_path %> <br>
			<%= link_to "Estados", admin_estados_path %></li>


	<li><%= link_to "Crescimentos", admin_crescimentos_path %> <br>
			<%= link_to "Folha Ciclos", admin_folha_ciclos_path %> <br>
			<%= link_to "Extinções", admin_extincoes_path %></li>
	
	<li><%= link_to "Raizes", admin_raizes_path %> <br>
			<%= link_to "Germinacao Taxas", admin_germinacao_taxas_path %> <br>
			<%= link_to "Germinacao Tempos", admin_germinacao_tempos_path %></li>
			

	<li><%= link_to "Utilidades", admin_utilidades_path %> <br>
			<%= link_to "Utilidade Tipos", admin_utilidade_tipos_path %></li>

	<li><%= link_to "Graus de Preferência", admin_preferencias_path %>	<br>	
		
	<li><%= link_to "Partes da Árvore", admin_partes_path %>	<br>	
			<%= link_to "Caracteristicas", admin_caracteristicas_path %> <br>
			<%= link_to "Caracteristicas Tipos", admin_caracteristica_tipos_path %></li>

	<li><%= link_to "Classes Sucessionais", admin_sucessoes_path %>	<br>	

	<li><%= link_to "Produtos", admin_produtos_path %> <br>
			<%= link_to "Produto Tipos", admin_produto_tipos_path %></li>

	<li><%= link_to "Condições", admin_condicoes_path %> <br>
			<%= link_to "Condição Tipos", admin_condicao_tipos_path %></li>

	<li><%= link_to "Livros", admin_livros_path %></li>
	<li>____________________</li>
  </ul>
</div>




