<%= stylesheet_link_tag "arvores" %>


<div >
	
	
<%= form_for([:admin, @arvore]) do |f| %>
<%= render 'shared/error_messages', :object => f.object %>
	<div>
	Altura
	<%= f.text_field :altura_minima , :size => 2, :maxlength=>"3", :class=>"form_campos"   %>
	-
	<%= f.text_field :altura_maxima, :size => 2, :maxlength=>"3", :class=>"form_campos"    %>
	</div>
	<div>
	DAP
	<%= f.text_field :dap_minimo, :size => 2, :maxlength=>"3", :class=>"form_campos"   %>
	-
	<%= f.text_field :dap_maximo, :size => 2, :maxlength=>"3", :class=>"form_campos"   %>
	</div>
	<div>
	Diâmetro da Copa
	<%= f.text_field :copa_diametro_minimo, :size => 2, :maxlength=>"3", :class=>"form_campos"   %>
	-
	<%= f.text_field :copa_diametro_maximo, :size => 2, :maxlength=>"3", :class=>"form_campos"   %>
	</div>
	<div>
	<%= f.label :sementes_kg  %>
	<%= f.text_field :sementes_kg, :size => 4, :maxlength=>"5", :class=>"form_campos"   %>
	</div>
	<div>
	<%= f.label :sementes_viabilidade  %>
	<%= f.text_field :sementes_viabilidade, :size => 2, :maxlength=>"2", :class=>"form_campos"   %>
	</div>
	<div>
	<%= f.label :observacao  %>
	<%= f.text_area :observacao, :size => "30x5"  %>
	</div>

	<div>
    <%= f.label :familia_id %><br />
    <%= f.collection_select(:familia_id,
         Familia.order('nome'),
         :id, :nome, {:prompt => true}, :class=>"form_campos") %>
	</div>

	<div>
    <%= f.label :pais_id %><br />
    <%= f.collection_select(:pais_id,
         Pais.order('nome'),
         :id, :nome, {:prompt => true}, :class=>"form_campos") %>
	</div>
	
	<div>
    <%= f.label :extincao_id %><br />
    <%= f.collection_select(:extincao_id,
         Extincao.order('grau'),
         :id, :grau, {:prompt => true}, :class=>"form_campos") %>
	</div>

	<div>
    <%= f.label :folha_ciclo_id %><br />
    <%= f.collection_select(:folha_ciclo_id,
         FolhaCiclo.order('ciclo'),
         :id, :ciclo, {:prompt => true}, :class=>"form_campos") %>
	</div>
	
	
	<div>
    <%= f.label :germinacao_taxa_id %><br />
    <%= f.collection_select(:germinacao_taxa_id,
         GerminacaoTaxa.order('taxa'),
         :id, :taxa, {:prompt => true}, :class=>"form_campos") %>
	</div>
	
	<div>
    <%= f.label :germinacao_tempo_id %><br />
    <%= f.collection_select(:germinacao_tempo_id,
         GerminacaoTempo.order('tempo'),
         :id, :tempo, {:prompt => true}, :class=>"form_campos") %>
	</div>

	<div>
    <%= f.label :crescimento %><br />
    <%= f.collection_select(:crescimento_id,
         Crescimento.order('nome'),
         :id, :nome, {:prompt => true}, :class=>"form_campos") %>
	</div>
	
	<div>
	Nomes Populares<br><br>
	 select_tag "popular", options_from_collection_for_select(Popular, "id", "nome") <br><br>


	 <% NomePopular.all.each do |nome_popular| %>
		<%= check_box_tag :nome_popular_ids, nome_popular.id, @arvore.nomes_populares.include?(nome_popular), :name => 'arvore[nome_popular_ids][]' %>
		<%= label_tag :nome_popular_ids, nome_popular.nome %>
		<br>
	 <% end %>

	</div>

	<div>
	Bibliografia<br><br>
	  <% Livro.all.each do |livro| %>
		<%= check_box_tag :livro_ids, livro.id, @arvore.livros.include?(livro), :name => 'arvore[livro_ids][]' %>
		<%= label_tag :livro_ids, livro.nome %>
		<br>
	 <% end %>
	</div>


  	<div>
		<p></p>
		<%= f.submit %>
  	</div>
<% end %>


</div>