<%= stylesheet_link_tag "arvores" %>
<h1>Arvores</h1>

<%= link_to 'Nova', new_admin_arvore_path %>
</br></br>
<table width="80%" border="0" cellspacing="0"  class="texto_peq" >
	<tr>
    	<td class="list_top"> Cod </td> 
		<td class="list_top"> Nome Popular </td>
    	<td class="list_top"> Altura </td>
    	<td class="list_top"> DAP </td>
    	<td class="list_top"> Diâmetro <br> Copa </td>
    	<td class="list_top"> Sementes <br> por kg </td>
    	<td class="list_top"> Sementes <br> viabilidade </td>
    	<td class="list_top"> Obs </td>
    	<td class="list_top"> Família </td>
    	<td class="list_top"> Pais </td>
    	<td class="list_top"> Extinção </td>
    	<td class="list_top"> Folha Ciclo </td>
		<td class="list_top">Edit</td>
		<td class="list_top">Excluir</td>
	</tr>

	<% i = 0 %>  	
	<% for arvore in @arvores %>
	<% if i == 0 %>
	    <% i = 1 %>
		<tr bgcolor='#E6E6E6' class='list'>
	<% else %>
	    <% i = 0 %>
		<tr bgcolor='#FFFFFF' class='list'>
	<% end %>
    	<td class="list"> <%= link_to arvore.id , [:admin, arvore] %></td> 
    	<td> Nome Popular   	
		    arvore.populares.each do |popular| %>
		     popular.nome %>
		    end %>
		</td>

	
		<td> <%= arvore.altura_minima  %> - <%= arvore.altura_maxima %></td>
    	<td> <%= arvore.dap_minimo %> - <%= arvore.dap_maximo %></td>
    	<td> <%= arvore.copa_diametro_minimo %> - <%= arvore.copa_diametro_maximo %></td>
    	<td> <%= arvore.sementes_kg %></td> 
    	<td> <%= arvore.sementes_viabilidade %></td>
    	<td> <%= truncate(arvore.observacao, :length => 7) %></td>
    	<td> <%= arvore.familia.nome %></td>
    	<td> <%= arvore.pais.nome %></td>
    	<td> <%= arvore.extincao.grau %></td>
    	<td> <%= arvore.folha_ciclo.ciclo %></td>
    	<td><%= link_to 'Edit', edit_admin_arvore_path(arvore) %></td>
    	<td align="right"><%= link_to 'X', [:admin,arvore], confirm: 'Excluir?', method: :delete %></td>
	</tr>
  	<% end %>
</table>