
  <div class="gadget">
    <h2 class="star"><span>Árvore</span></h2>
    <ul class="sb_menu">
	  	<li><%= link_to "Lista de Espécies", arvores_path %></li>
      <li><%= link_to "Partes da Árvore", "/page/arvore_partes" %></li>
      <li><%= link_to "Porque Plantar", "/page/arvore_porque_plantar" %></li>
      <li><%= link_to "Como Plantar", "/page/arvore_como_plantar" %></li>
      <li><%= link_to "Cuidados", "/page/arvore_cuidados" %></li>
      <li><%= link_to "Podas", "/page/arvore_podas" %></li>
      <li><%= link_to "Espécies Ameaçadas", "/page/arvore_ameacadas" %></li>
	  <li></li>
	  	<li>*Precisa criar um link para "home"'do Admin com Login*</li>
	  	<li><%= link_to "Admin", admin_familias_path %></li>
    </ul>
  </div>
