
  <div class="gadget">
    <h2 class="star"><span>Árvore</span></h2>
    <ul class="sb_menu">
	  <li><%= link_to "Lista de Espécies", arvores_path %></li>
	  <li>*Os links abaixo são de páginas estáticas, falta fazer*</li>
      <li><%= link_to "Partes da Árvore", root_path %></li>
      <li><%= link_to "Porque Plantar", root_path %></li>
      <li><%= link_to "Como Plantar", root_path %></li>
      <li><%= link_to "Cuidados", root_path %></li>
      <li><%= link_to "Podas", root_path %></li>
      <li><%= link_to "Espécies Ameaçadas", root_path %></li>
	  <li></li>
	  <li>*Precisa criar um link para "home"'do Admin com Login*</li>
	  <li><%= link_to "Admin", admin_familias_path %></li>
    </ul>
  </div>
