
  <div class="gadget">
    <h2 class="star"><span>Árvore</span></h2>
    <ul class="sb_menu">
	  	<li><%= link_to "Lista de Espécies", arvores_path %></li>
      <li><%= link_to "Partes da Árvore", "/page/arvore_partes" %></li>
      <li><%= link_to "Espécies Ameaçadas", "/page/arvore_ameacadas" %></li>
    </ul>
<br>
    <h2 class="star"><span>Plantio</span></h2>
    <ul class="sb_menu">
      <li><%= link_to "Porque Plantar", "/page/arvore_porque_plantar" %></li>
      <li><%= link_to "Como Plantar", "/page/arvore_como_plantar" %></li>
      <li><%= link_to "Cuidados", "/page/arvore_cuidados" %></li>
      <li><%= link_to "Podas", "/page/arvore_podas" %></li>
    </ul>
<br>
    <h2 class="star"><span>Meio Ambiente</span></h2>
    <ul class="sb_menu">
      <li><%= link_to "Biomas", "/page/meio_biomas" %></li>
      <li><%= link_to "Mata Ciliar", "/page/meio_mata_ciliar" %></li>
      <li><%= link_to "Sequestro de Carbono", "/page/meio_sequestro_carbono" %></li>
      <li><%= link_to "Protocolo de Quioto", "/page/meio_protocolo_quioto" %></li>
      <li><%= link_to "Corredor Gênico", "/page/meio_corredor_genico" %></li>
    </ul>


  </div>

