<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
Design by http://www.dreamtemplate.com
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><%= content_for?(:title) ? yield(:title) : "ArvoresBrasil" %></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %>

</head>
<body>
	
	
<div class="main">

    <%= render "top" %>

  <div class="content">
    <div class="content_resize">

	  <% # image_tag("img1.jpg", :size => "927x240", :alt => "image", :class=>"ctop") %>

      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>

<% # flash[:notice].html_safe    -- No caso de precisar quebra de linha  %>

      <div class="mainbar">
	    <div class="article">
		  <%= yield %>
		</div>
      </div>

	  <div class="sidebar">
	  	<%= render "side" %>
	  </div>
	
      <div class="clr"></div>
    </div>
  </div>

  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        Desde julho/2002 o Árvores Brasil vem trabalhando para multiplicar o conhecimento <br>
				das espécies arbóreas deste pais. 
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_resize">
      <p class="lf">&copy; Copyright ArvoresBrasil - Todos os direitos reservados. <br>
     	Desenvolvido por <a target="_blank" href="http://www.linkedin.com/in/renatosuelotto"> Renato Suelotto</a> </p>
      <ul class="fmenu">
	      <li></li>
        <li>Linguagem de programação -<a target="_blank" href="http://rubyonrails.org">Ruby on Rails</a></li>
				<br>
	      <li>Banco e Dados -<a target="_blank" href="http://www.mysql.com/">MySql</a></li>
				<br>
        <li>Template GreenWorld -<a target="_blank" href="http://www.dreamtemplate.com">Dream Template</a></li>
      </ul>
      <div class="clr"></div>
    </div>
  </div>
</div>
</body>
</html>

